{% extends 'index/base.html' %}
{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/home.css' %}">
{% endblock %}
{% block title %}
    Welcome to index
{% endblock %}
{% block body %}
<div class="container">
	  		<div class="row">
	  			<div class="container">
	  				<div class="row contents-box">

							<div>
								<h5>IT IS HEALTH THAT IS REAL WEALTH AND NOT PIECES OF GOLD AND SILVER<br><b style="float: right">- Mahatma Gandhi</b></h5>
								<br><br>
                                <h6>Upload your medical reports. Check your cancer probability!</h6>
                                        <div class="col s12 m6 center"><a href="{% url 'upload' %}" ><button class="upload-btn">Upload</button></a></div>


                                <div class="col s12 m6 center"><a href="{% url 'reports' %}"><button class="search-btn">Reports</button></a></div>
                            </div>

					</div>
				</div>
			</div>
		</div>
    <script>
        document.getElementById("home").classList.add('active');
    </script>
{% endblock %}