{% extends 'index/base.html' %}
{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/upload.css' %}">
{% endblock %}
{% block title %}
    Welcome to index
{% endblock %}
{% block body %}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" onsubmit="loading()">
    {% csrf_token %}
    <div class="container">
	  		<div class="row">
	  			<div class="container">
	  				<div class="row">

						<div class="form-box center">
                        <img src="https://media.giphy.com/media/9EvzNG9HAVc64/giphy.gif" style="display: none; width:100%; height:100%" id="loader">
                        <h1 style="color: white; display: none" id="loader2">Loading ....</h1>
                        <div id="body_to">
                        <p style="color: red; background-color: navajowhite">{{ error_message }}</p>
                            {% for field in form %}
                                {% if field.label != "File" %}
                                    <div class="non input-field left" style="color: #ffffff">
								{{ field.label }}
                                    </div>
                                   <div class="input-field">
                                            <div class="input-field">
                                                {{ field }}
                                            </div>
                                    </div>
                                    {% else %}
                                    <div class="input-field">
                                            <div class="input-field" id="choose-file">
                                                Choose-file
                                                {{ field }}
                                            </div>
                                    </div>
                                {% endif %}

                                            {% endfor %}
                            <div class="input-field">
							<input class="center" type="submit" name="submit_btn" value="Upload">
							</div><br>
                            <div class="left"><a href="{% url 'home' %}"><i class="material-icons" style="color: white;">arrow_backward</i></a></div>
                        </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
</form>

    <script>
    $('select').material_select();
    $('')
    function loading(){
    document.getElementById("body_to").style.display="none";
    document.getElementById("loader").style.display="block";
    document.getElementById("loader2").style.display="block";
}
    </script>
    <script>
        document.getElementById("upload").classList.add('active');
    </script>
{% endblock %}